In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/unclean cclass.csv')
df['model'] = 'C Class'
df.drop(columns='reference', inplace=True)
colomns = df.columns[1:]
df = df.dropna(axis=0, how='all', subset=colomns)
df = df.dropna(subset=['year'])
df = df.copy()
df['price'] = df['price'].str.replace('£' , '').copy()
df['price'] = df['price'].str.replace(',' , '')
df['price'] = df['price'].str.strip()
df['price'] = df['price'].astype(int)

def myfunc(x):
    if x in ['Petrol', 'Diesel']:
        return x
    return np.nan

df['fuel type'] = df['fuel type'].map(myfunc).copy()
df['fuel type'] = df['fuel type'].fillna(df['fuel type2'])
df.drop(columns='fuel type2', inplace=True)
df['engine size2'] = df['engine size2'].fillna(value=df['engine size'])
df.drop(columns='engine size', inplace=True)
df.columns = df.columns.str.replace('engine size2', 'engine size')
df = df[df['engine size'] != 'Unknown']
df['engine size'] = df['engine size'].str.replace('CC', '').copy()
df['engine size'] = df['engine size'].astype(float).copy()
def myfunc(x):
    if x >3.0:
        return x / 1000
    return x

df['engine size'] = df['engine size'].map(myfunc)
df['engine size'] = round(df['engine size'], 1)
df['mileage'] = df['mileage'].fillna(df['mileage2'])
df.drop(columns='mileage2', inplace=True)
df['mileage'] = df['mileage'].str.replace(',', '')

#df['mileage'] = df['mileage'].astype(int)


df

        model    year  price transmission mileage fuel type  engine size
0     C Class  2020.0  30495    Automatic    1200    Diesel          2.0
1     C Class  2020.0  29989    Automatic    1000    Petrol          1.5
2     C Class  2020.0  37899    Automatic     500    Diesel          2.0
3     C Class  2019.0  30399    Automatic    5000    Diesel          2.0
4     C Class  2019.0  29899    Automatic    4500    Diesel          2.0
...       ...     ...    ...          ...     ...       ...          ...
4001  C Class  2017.0  14700       Manual   31357    Diesel          1.6
4002  C Class  2018.0  18500    Automatic   28248    Diesel          2.1
4003  C Class  2014.0  11900       Manual   48055    Diesel          2.1
4004  C Class  2014.0  11300    Automatic   49865    Diesel          2.1
4005  C Class  2014.0  14800    Automatic   55445    Diesel          2.1

[3903 rows x 7 columns]

In [22]:
df = df[df['mileage'] != 'Unknown']

        model    year  price transmission mileage fuel type  engine size
0     C Class  2020.0  30495    Automatic    1200    Diesel          2.0
1     C Class  2020.0  29989    Automatic    1000    Petrol          1.5
2     C Class  2020.0  37899    Automatic     500    Diesel          2.0
3     C Class  2019.0  30399    Automatic    5000    Diesel          2.0
4     C Class  2019.0  29899    Automatic    4500    Diesel          2.0
...       ...     ...    ...          ...     ...       ...          ...
4001  C Class  2017.0  14700       Manual   31357    Diesel          1.6
4002  C Class  2018.0  18500    Automatic   28248    Diesel          2.1
4003  C Class  2014.0  11900       Manual   48055    Diesel          2.1
4004  C Class  2014.0  11300    Automatic   49865    Diesel          2.1
4005  C Class  2014.0  14800    Automatic   55445    Diesel          2.1

[3899 rows x 7 columns]