In [4]:
malist = "[1, 2, 3, 4]"
print(malist)
print(type(malist))

#eval : prend un string et change son type en fonction de son contenue
malist = eval(malist)
print(malist)
print(type(malist))

[1, 2, 3, 4]
<class 'str'>
[1, 2, 3, 4]
<class 'list'>

In [6]:
i = '5'
j = '3.14'

print(type(eval(i)))
print(type(eval(j)))

<class 'int'>
<class 'float'>

In [ ]:
#calculer nbre de mots par citations
#transformer url dictionnaire
#changer les dates

In [134]:
import pandas as pd

In [135]:
df = pd.read_csv('data.csv')
df.head()

,text,author,tags,born_date,born_location,image_urls,images
0,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy,books,classic,humor","December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...
1,"“A day without sunshine is like, you know, nig...",Steve Martin,"humor,obvious,simile","August 14, 1945","in Waco, Texas, The United States",https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...
2,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,misattributed-eleanor-roosevelt,"October 11, 1884",in The United States,https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...
3,“Life is what happens to us while we are makin...,Allen Saunders,"fate,life,misattributed-john-lennon,planning,p...","April 24, 1899",in The United States,https://upload.wikimedia.org/wikipedia/en/thum...,[{'url': 'https://upload.wikimedia.org/wikiped...
4,"“I may not have gone where I intended to go, b...",Douglas Adams,"life,navigation","March 11, 1952","in Cambridge, England, The United Kingdom",https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...

## 1. Calcule du nombre de mots par citation

In [136]:
df['nb_words'] = df['text'].map(lambda x : len(x.replace(r'[^A-Za-z0-9 ]+', '').lower().strip().split()))

In [137]:
df.head()

,text,author,tags,born_date,born_location,image_urls,images,nb_words
0,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy,books,classic,humor","December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...,19
1,"“A day without sunshine is like, you know, nig...",Steve Martin,"humor,obvious,simile","August 14, 1945","in Waco, Texas, The United States",https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...,9
2,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,misattributed-eleanor-roosevelt,"October 11, 1884",in The United States,https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...,19
3,“Life is what happens to us while we are makin...,Allen Saunders,"fate,life,misattributed-john-lennon,planning,p...","April 24, 1899",in The United States,https://upload.wikimedia.org/wikipedia/en/thum...,[{'url': 'https://upload.wikimedia.org/wikiped...,12
4,"“I may not have gone where I intended to go, b...",Douglas Adams,"life,navigation","March 11, 1952","in Cambridge, England, The United Kingdom",https://upload.wikimedia.org/wikipedia/commons...,[{'url': 'https://upload.wikimedia.org/wikiped...,22

## 2. Transormer en dictionnaire le string url "images"

In [99]:
image = "[{'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mark_Twain_by_AF_Bradley.jpg/1280px-Mark_Twain_by_AF_Bradley.jpg', 'path': 'full/5aa96ae7741a7f449062a8fa21d9ba04be349c10.jpg', 'checksum': '2c8792bf9e2702de215ea8a5099d31fb', 'status': 'downloaded'}]"

In [100]:
image

"[{'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mark_Twain_by_AF_Bradley.jpg/1280px-Mark_Twain_by_AF_Bradley.jpg', 'path': 'full/5aa96ae7741a7f449062a8fa21d9ba04be349c10.jpg', 'checksum': '2c8792bf9e2702de215ea8a5099d31fb', 'status': 'downloaded'}]"

In [101]:
d_image = eval(image)[0]

In [102]:
type(d_image)

dict

In [132]:
d_image

{'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mark_Twain_by_AF_Bradley.jpg/1280px-Mark_Twain_by_AF_Bradley.jpg',
 'path': 'full/5aa96ae7741a7f449062a8fa21d9ba04be349c10.jpg',
 'checksum': '2c8792bf9e2702de215ea8a5099d31fb',
 'status': 'downloaded'}

In [ ]:
#Transormer de string --> dict
#Parcourir les clés
    #Créer une nouvelle colonnes avec cette clé
    #Parcour cette colonne
    #ajouter la valeurs correspondant

In [ ]:
#Transormer de string --> dictb

In [133]:
df

        date  value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4

## 3. Transformer date en datetime

In [103]:
df['born_date'] = pd.to_datetime(df['born_date'].dt.strftime('%d-%m-%Y'))

AttributeError: Can only use .dt accessor with datetimelike values

In [104]:
df['born_date'] = pd.to_datetime(df['born_date'])
df['born_date']

0    1775-12-16
1    1945-08-14
2    1884-10-11
3    1899-04-24
4    1952-03-11
        ...
95   1965-07-31
96   1926-04-28
97   1860-05-09
98   1894-10-14
99   1942-11-27
Name: born_date, Length: 100, dtype: datetime64[ns]

In [130]:
df.head()

        date  value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4

In [128]:
import pandas as pd

df1 = pd.DataFrame({"Date": ["26-12-2007", "27-12-2007", "28-12-2007"]})
df1["Date"] = pd.to_datetime(df1["Date"], format="%d-%m-%Y")
print(df1)

        Date
0 2007-12-26
1 2007-12-27
2 2007-12-28

In [ ]:
df1['Date']

In [126]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 152.0 bytes

In [131]:
df = pd.DataFrame({'date': ['3/10/2000', '3/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'])
df.head()

        date  value
0 2000-03-10      2
1 2000-03-11      3
2 2000-03-12      4