# Exercices Numpy

In [1]:
import numpy as np

## Exercice 1

Créer un tableau depuis la liste [1.6, 0.5, 7.4, 22.3] et stocker le dans la variable « vec ».
* Afficher le contenu de la variable « vec »
* Afficher le type de données du tableau « vec », sa forme, sa dimension et sa
longueur.
* Afficher le troisième élément du tableau.
* Modifier la valeur « 0.5 » par « 3.8 ».
* Calculer la taille de la mémoire du tableau.
* Convertir le type du tableau vers « int »
* Calculer la taille de la mé moire du tableau aprè s la conversion du type. 
* Sauvegarder le tableau dans un fichier texte.

In [73]:
#1-2
vec = np.array([1.6, 0.5, 7.4, 22.3])
vec

array([ 1.6,  0.5,  7.4, 22.3])

In [74]:
#3
print(type(vec))
print(vec.dtype)
print(vec.shape)
print(vec.ndim)
print(vec.size)

<class 'numpy.ndarray'>
float64
(4,)
1
4

In [75]:
#4
vec[2]

7.4

In [78]:
vec

array([ 1.6,  0.5,  7.4, 22.3])

In [20]:
#5
print(vec)
vec[1] = 3.8 #==> Mieux! : vec[vec==0.5] = 3.8
print(vec)

[ 1.6  0.5  7.4 22.3]
[ 1.6  3.8  7.4 22.3]

In [85]:
#np.where(a < 5, a, 10*a)
np.where(vec == 0.5, 3.8, vec)

array([ 1.6,  3.8,  7.4, 22.3])

In [21]:
#6
vec.nbytes

32

In [23]:
#7
vec = vec.astype(int)
vec

array([ 1,  3,  7, 22])

In [24]:
vec.nbytes

32

In [31]:
#8
vec = vec.astype(np.int64)
print(vec)
print(vec.nbytes)
print(vec.dtype)

[ 1  3  7 22]
32
int64

In [33]:
#9
np.savetxt("ex1.txt", vec)

Créer une matrice « mat » depuis la liste [[0, 3, 6, 9], [5, 10, 15, 20], [30, 40, 50, 60]]
* Afficher le contenu de la variable « mat »
* Afficher le type de donné es de la matrice « mat », sa forme, sa dimension et sa longueur.
* Pouvez-vous obtenir la dimension et la longueur à partir de la forme ?
* Créer la matrice mat_1 extraite de mat telle que i >= 1, j <=2.
* Modifier la matrice « mat » afin que sa derniè re ligne soit divisé e par 10 et que sa première colonne soit multipliée par 2.

In [95]:
#1
mat = np.array([[0, 3, 6, 9], [5, 10, 15, 20], [30, 40, 50, 60]])
mat

array([[ 0,  3,  6,  9],
       [ 5, 10, 15, 20],
       [30, 40, 50, 60]])

In [53]:
#2
print(mat.dtype)
print(mat.shape)
print(mat.ndim)
print(mat.size)

int64
(3, 4)
2
12

In [54]:
#3
#Oui!!!
#dimension = (nb_lignes, nb_colonnes)
#longueur = nb_lignes * nb_colonnes

In [94]:
#4
#mat_1 = mat.reshape(12,1)
mat_1 = mat[:, :2]
mat_1

array([[ 0,  3],
       [ 5, 10],
       [30, 40]])

In [98]:
#5
#mat[2] = mat[2] / 10
mat[2, :] = mat[2, :] / 10
mat

array([[ 0,  3,  6,  9],
       [ 5, 10, 15, 20],
       [ 3,  4,  5,  6]])

In [99]:
#mat[:, 0] = mat[:, 0] * 2
mat[:, 0] *= 2
mat

array([[ 0,  3,  6,  9],
       [10, 10, 15, 20],
       [ 6,  4,  5,  6]])

Créer un tableau multidimensionnel « nd_vec » d’une dimension > 2
* Afficher le contenu de « nd_vec »
* Afficher le type de données du tableau « nd_vec », sa forme, sa dimension et sa longueur.
* Pouvez-vous obtenir la dimension et la longueur à partir de la forme ? 
* Afficher un élément de ce tableau ainsi qu’un sous tableau.

In [111]:
#1
nd_vec = np.ones((2, 3, 3))
nd_vec

array([[[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.],
        [1., 1., 1.]]])

In [104]:
#2
print(nd_vec.dtype)
print(nd_vec.shape)
print(nd_vec.ndim)
print(nd_vec.size)

float64
(3, 3, 1)
3
9

In [105]:
#3

In [116]:
#4
nd_vec[0, :, :]

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [117]:
nd_vec[0, 1, 1] = 55

In [118]:
nd_vec

array([[[ 1.,  1.,  1.],
        [ 1., 55.,  1.],
        [ 1.,  1.,  1.]],

       [[ 1.,  1.,  1.],
        [ 1.,  1.,  1.],
        [ 1.,  1.,  1.]]])

In [119]:
nd_vec[0, 1, 1]

55.0

## Exercice 2

* Créer un tableau 1D vide de taille 10 et de type « int » ; observer les valeurs du tableau.
* Créer un tableau 2D vide de dimension (3*3) et de type « float » ; observer les valeurs du tableau.
* Créer un tableau de 3 dimensions (3*3*3) initialisé avec des zéros « 0 ».
* Créer une matrice de taille (5*5) comportant des uns « 1 ».
* Créer un tableau de taille (10*10) initialisé avec la valeur « np.inf ».
* Créer une matrice d’identité de taille (4*4).
* Créer une matrice dont la diagonale est égale à [2, 3, 4, 5] et des 0 ailleurs.

In [125]:
#1
np.empty(10, dtype=int)

array([1152921504606846976, 6917537795515376483,        408021893125,
              433791697014,        390842024035,        188978561073,
              249108103200,        137438953516,        399431958586,
          1407376584749872])

In [130]:
#2
np.empty((3, 3), dtype=float)

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [132]:
#3
np.zeros((3, 3), dtype=float)

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [134]:
#4
np.ones((5, 5), dtype=int)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [138]:
#5
np.full((10, 10), np.inf)

array([[inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf, inf, inf, inf]])

In [188]:
#6-1
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [189]:
#6-2
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [192]:
#6-3
i = np.zeros((5, 5))
i[0,0] = 1
i[1,1] = 1
i[2,2] = 1
i[3,3] = 1
i[4,4] = 1
i

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [196]:
#6-4
i = np.zeros((5, 5))
for j in range(i.shape[0]):
    i[j, j] = 1
i

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [146]:
#7-1
np.diag([2, 3, 4, 5])

array([[2, 0, 0, 0],
       [0, 3, 0, 0],
       [0, 0, 4, 0],
       [0, 0, 0, 5]])

In [197]:
#7-2
d = np.zeros((4, 4), dtype='int')
d[0,0] = 2
d[1,1] = 3
d[2,2] = 4
d[3,3] = 5
d

array([[2, 0, 0, 0],
       [0, 3, 0, 0],
       [0, 0, 4, 0],
       [0, 0, 0, 5]])

## Exercice 3

* Créer un tableau comportant la série d’entiers de 5 à 25 : [5, 6, 7, ... , 23,24,25]
* Créer un tableau contenant tous les entiers pairs entre 100 et 150 inclus.
* Créer un tableau qui comporte les dates du mois de Février 2019, ce tableau est
de type « datetime64[D] »
* Créer un tableau de dix éléments équidistants entre 2 et 5 inclus.
* Soit la fonction y = f(x)= (ex – e-x )/(ex + e-x ). Cré er des tableaux x, y qui
contiennent respectivement 50 valeurs réparties uniformément sur [-5, 5] et
l’évaluation de la fonction sur ces valeurs
* Ecrire un programme NumPy qui permet de générer un nombre aléatoire entre 0
et 1.
* Créer un tableau de la dimension et de la taille de votre choix contenant des
valeurs entre 34 et 76.
* Faitesuntableaudeforme(3,5)avecdesnombresaléatoiresàpartird'une
distribution normale standard (une distribution normale avec une moyenne 0 et
une variance 1).
* Créer une matrice (10x5) comportant des entiers alé atoires entre 0 et 100.
* Standardiser cette matrice telle que chaque colonne aura une moyenne nulle et un écart type égal à 1.

In [152]:
#1) Créer un tableau comportant la série d’entiers de 5 à 25 : [5, 6, 7, ... , 23,24,25]

np.arange(5, 26)

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
       22, 23, 24, 25])

In [154]:
#2) Créer un tableau contenant tous les entiers pairs entre 100 et 150 inclus

np.arange(100, 151, 2)

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124,
       126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150])

In [273]:
#3) Créer un tableau qui comporte les dates du mois de Février 2019, 
#   ce tableau est de type « datetime64[D] »

np.arange('2019-02', '2019-03', dtype='datetime64[D]')

array(['2019-02-01', '2019-02-02', '2019-02-03', '2019-02-04',
       '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08',
       '2019-02-09', '2019-02-10', '2019-02-11', '2019-02-12',
       '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-16',
       '2019-02-17', '2019-02-18', '2019-02-19', '2019-02-20',
       '2019-02-21', '2019-02-22', '2019-02-23', '2019-02-24',
       '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28'],
      dtype='datetime64[D]')

In [168]:
#4) Créer un tableau de dix éléments équidistants entre 2 et 5 inclus.
np.linspace(2, 5, 7)

array([2. , 2.5, 3. , 3.5, 4. , 4.5, 5. ])

In [184]:
#5) Soit la fonction y = f(x)= (ex – e-x )/(ex + e-x ). 
#   Créer des tableaux x, y qui contiennent respectivement 50 valeurs réparties 
#   uniformément sur [-5, 5] et l’évaluation de la fonction sur ces valeurs

x = np.linspace(-5, 5, 50)
x

array([-5.        , -4.79591837, -4.59183673, -4.3877551 , -4.18367347,
       -3.97959184, -3.7755102 , -3.57142857, -3.36734694, -3.16326531,
       -2.95918367, -2.75510204, -2.55102041, -2.34693878, -2.14285714,
       -1.93877551, -1.73469388, -1.53061224, -1.32653061, -1.12244898,
       -0.91836735, -0.71428571, -0.51020408, -0.30612245, -0.10204082,
        0.10204082,  0.30612245,  0.51020408,  0.71428571,  0.91836735,
        1.12244898,  1.32653061,  1.53061224,  1.73469388,  1.93877551,
        2.14285714,  2.34693878,  2.55102041,  2.75510204,  2.95918367,
        3.16326531,  3.36734694,  3.57142857,  3.7755102 ,  3.97959184,
        4.18367347,  4.3877551 ,  4.59183673,  4.79591837,  5.        ])

In [185]:
def ma_function(x):
    result = (np.exp(x) - np.exp(-x)) / (np.exp(x) + np.exp(-x))
    return result

In [186]:
ma_function(x)

array([-0.9999092 , -0.99986344, -0.99979462, -0.99969111, -0.99953545,
       -0.99930137, -0.99894941, -0.99842027, -0.99762495, -0.99642993,
       -0.99463525, -0.99194203, -0.98790496, -0.9818637 , -0.97284617,
       -0.9594368 , -0.93960819, -0.91052931, -0.86839883, -0.80841907,
       -0.72512414, -0.61335726, -0.47010419, -0.29690545, -0.10168812,
        0.10168812,  0.29690545,  0.47010419,  0.61335726,  0.72512414,
        0.80841907,  0.86839883,  0.91052931,  0.93960819,  0.9594368 ,
        0.97284617,  0.9818637 ,  0.98790496,  0.99194203,  0.99463525,
        0.99642993,  0.99762495,  0.99842027,  0.99894941,  0.99930137,
        0.99953545,  0.99969111,  0.99979462,  0.99986344,  0.9999092 ])

In [220]:
#6) Ecrire un programme NumPy qui permet de générer un nombre aléatoire entre 0
#   et 1.

np.random.random(1)

array([0.31857551])

In [227]:
#7) Créer un tableau de la dimension et de la taille de votre choix contenant des
#   valeurs entre 34 et 76.

np.random.randint(34, 77, (5, 4))

array([[59, 71, 68, 76],
       [34, 63, 59, 52],
       [66, 35, 65, 61],
       [53, 47, 52, 40],
       [75, 53, 46, 49]])

In [230]:
#8) Faites un tableau de forme(3,5) avec des nombres aléatoires à partir d'une
#   distribution normale standard (une distribution normale avec une moyenne 0 et
#   une variance 1).

np.random.normal(loc=0, scale=1, size=(3, 5))

array([[-0.48925518, -0.62257797,  1.78446028, -1.9150078 ,  0.21407764],
       [-1.0282656 , -1.67051324,  0.76591915,  0.23714229, -0.40696993],
       [-0.42491465, -0.40066085, -0.87720368,  0.620618  , -1.30599057]])

In [261]:
#9) Créer une matrice (10x5) comportant des entiers aléatoires entre 0 et 100.
     # Standardiser cette matrice telle que chaque colonne aura une moyenne nulle 
     # et un écart type égal à 1

m = np.random.randint(0, 101, (10, 5))
m

array([[ 22,  29,  40,  49,  83],
       [ 12,  82,  89,  32,  63],
       [ 52,  57,  54,  34,  87],
       [ 89,  94,  11, 100, 100],
       [ 17,  75,  31,  42,  17],
       [ 26,  55,  57,  11,  59],
       [ 57,  98,   9,  93,  96],
       [ 95,  29,   0,  10,  13],
       [ 76,  32,  58,   5,  56],
       [ 60,  75,  69,  60,  97]])

In [272]:
(m - m.mean(axis=0)) / m.std(axis=0)

array([[-0.99485633, -1.34871254, -0.0657197 ,  0.17222975,  0.5269959 ],
       [-1.3427082 ,  0.77872093,  1.7233165 , -0.36997501, -0.13589203],
       [ 0.04869926, -0.22478542,  0.4454335 , -0.30618622,  0.65957349],
       [ 1.33575116,  1.26040398, -1.12453704,  1.79884403,  1.09045064],
       [-1.16878226,  0.49773915, -0.39431818, -0.05103104, -1.66053426],
       [-0.85571559, -0.30506593,  0.55496633, -1.03975736, -0.26846961],
       [ 0.22262519,  1.420965  , -1.19755893,  1.57558325,  0.95787306],
       [ 1.54446228, -1.34871254, -1.52615741, -1.07165176, -1.79311184],
       [ 0.88354374, -1.22829178,  0.59147727, -1.23112375, -0.3679028 ],
       [ 0.32698075,  0.49773915,  0.99309765,  0.52306812,  0.99101745]])

## Exercice 4

* Créer une matrice aléatoire 10x10.
    * Sélectionner l'élément dans la première ligne et la première colonne.
    * Mettre l'élément de la dernière ligne et de la dernière colonne à -1.
    * Sélectionner les éléments de la deuxième ligne.
    * Sélectionner les éléments de la troisième colonne.
    * Remplacer tous les éléments de la deuxième ligne par 0.
* Ecrire un programme NumPy pour inverser un tableau (le premier é lé ment devient le dernier).
* Ecrire un programme NumPy pour créer un tableau 2d avec 1 sur la bordure et 0 à l'intérieur.
* Ecrire un programme NumPy pour créer une matrice 8x8 et remplissez-la avec un motif en damier.

In [279]:
#1) Créer une matrice aléatoire 10x10.
m = np.random.randint(0, 101, (10, 10))
m

array([[ 42,  25,  63,  24,  64,  79,  59,  55,  37,  79],
       [ 96,  19,  90,  49,  58,  83,  50,  45,  20,  44],
       [ 72,  57,  76,  85,  70,  26,  12,   4,  56,  93],
       [ 26,   5,  29,  13,  87,  29,  60,  93,  41,  38],
       [ 46,  82, 100,  53,  12,  86,  60,  10,  25,  11],
       [ 97,  53,  44,  55,  48,  32,  37,  93,  21,  71],
       [ 57,  15,  59,  89,  72,  26,   3,  12,  71,  57],
       [ 27,  36,  87,  94,  39,   2,   3,  77,  95,  64],
       [ 98,  47,  66,  20,  10,  26,  74,  26,  55,   3],
       [100,  40,  81,  63,  36,  68,  18,  88,  80,  73]])

In [280]:
#1.1) Sélectionner l'élément dans la première ligne et la première colonne.
m[0,0]

42

In [282]:
#1.2) Mettre l'élément de la dernière ligne et de la dernière colonne à -1.
m[-1, -1] = -1
m

array([[ 42,  25,  63,  24,  64,  79,  59,  55,  37,  79],
       [ 96,  19,  90,  49,  58,  83,  50,  45,  20,  44],
       [ 72,  57,  76,  85,  70,  26,  12,   4,  56,  93],
       [ 26,   5,  29,  13,  87,  29,  60,  93,  41,  38],
       [ 46,  82, 100,  53,  12,  86,  60,  10,  25,  11],
       [ 97,  53,  44,  55,  48,  32,  37,  93,  21,  71],
       [ 57,  15,  59,  89,  72,  26,   3,  12,  71,  57],
       [ 27,  36,  87,  94,  39,   2,   3,  77,  95,  64],
       [ 98,  47,  66,  20,  10,  26,  74,  26,  55,   3],
       [100,  40,  81,  63,  36,  68,  18,  88,  80,  -1]])

In [283]:
#1.3) Sélectionner les éléments de la deuxième ligne.
m[1, :]

array([96, 19, 90, 49, 58, 83, 50, 45, 20, 44])

In [284]:
#1.4) Sélectionner les éléments de la troisième colonne.
m[:, 2]

array([ 63,  90,  76,  29, 100,  44,  59,  87,  66,  81])

In [285]:
m[:, 2:3]

array([[ 63],
       [ 90],
       [ 76],
       [ 29],
       [100],
       [ 44],
       [ 59],
       [ 87],
       [ 66],
       [ 81]])

In [287]:
#1.5) Remplacer tous les éléments de la deuxième ligne par 0.
m[1, :] = 0
m

array([[ 42,  25,  63,  24,  64,  79,  59,  55,  37,  79],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 72,  57,  76,  85,  70,  26,  12,   4,  56,  93],
       [ 26,   5,  29,  13,  87,  29,  60,  93,  41,  38],
       [ 46,  82, 100,  53,  12,  86,  60,  10,  25,  11],
       [ 97,  53,  44,  55,  48,  32,  37,  93,  21,  71],
       [ 57,  15,  59,  89,  72,  26,   3,  12,  71,  57],
       [ 27,  36,  87,  94,  39,   2,   3,  77,  95,  64],
       [ 98,  47,  66,  20,  10,  26,  74,  26,  55,   3],
       [100,  40,  81,  63,  36,  68,  18,  88,  80,  -1]])

In [295]:
#2) Ecrire un programme NumPy pour inverser un tableau 
#   (le premier élément devient le dernier).

m[::-1,::-1]

array([[ -1,  80,  88,  18,  68,  36,  63,  81,  40, 100],
       [  3,  55,  26,  74,  26,  10,  20,  66,  47,  98],
       [ 64,  95,  77,   3,   2,  39,  94,  87,  36,  27],
       [ 57,  71,  12,   3,  26,  72,  89,  59,  15,  57],
       [ 71,  21,  93,  37,  32,  48,  55,  44,  53,  97],
       [ 11,  25,  10,  60,  86,  12,  53, 100,  82,  46],
       [ 38,  41,  93,  60,  29,  87,  13,  29,   5,  26],
       [ 93,  56,   4,  12,  26,  70,  85,  76,  57,  72],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0],
       [ 79,  37,  55,  59,  79,  64,  24,  63,  25,  42]])

In [298]:
#3) Ecrire un programme NumPy pour créer un tableau 2d avec 1 sur la bordure 
#   et 0 à l'intérieur.

z = np.zeros((2,2))
z

array([[0., 0.],
       [0., 0.]])

In [314]:
np.pad(z, 1, 'constant', constant_values=(1,1))

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])

In [315]:
#4) Ecrire un programme NumPy pour créer une matrice 8x8 et remplissez-la avec un motif en damier.
#numpy.tile( list_0_1, ( n//2, n//2) )
np.tile([[0, 1], [1, 0]], (4, 4))

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

## Exercice 5

Ecrire un programme NumPy dans lequel vous allez:
* Définir un tableau à une dimension de la taille de votre choix.
* Calculer l’écart type des valeurs présentes dans ce tableau.
* Chercher les valeurs et les indices des éléments qui sont supérieurs à « la moyenne des valeurs + 1.96 l’écart type ».
* Remplacer toutes ces valeurs par la valeur maximale du tableau.
* Chercher les valeurs et les indices des éléments qui sont inférieurs à « la moyenne des valeurs - 1.96 l’écart type ».
* Remplacer toutes ces valeurs par la valeur minimale du tableau 
* Compter le nombre d’éléments égaux au maximum et le nombre d’éléments égaux au minimum.
* Compter le nombre d’éléments différents de min ou de max.

In [430]:
# Définir un tableau à une dimension de la taille de votre choix.
t = np.arange(0, 36).reshape(6, 6)
t

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [431]:
t = np.random.randint(0, 10000, (5, 5))
t

array([[3536, 2780, 2517, 6372, 1700],
       [ 289, 8169, 4669, 4021, 9544],
       [3243,  538,  289, 5436,  112],
       [2551, 1093, 9247, 5336, 4797],
       [2587, 1982, 2892, 6305, 8057]])

In [537]:
t = np.array([[2000, 0, 100], [1999, 300, 200], [150, 0, 190], [500, 500, 500]])
t

array([[2000,    0,  100],
       [1999,  300,  200],
       [ 150,    0,  190],
       [ 500,  500,  500]])

In [538]:
# Calculer l’écart type des valeurs présentes dans ce tableau.
t.std()

676.3591819851014

In [539]:
t.mean()

536.5833333333334

In [540]:
# Chercher les valeurs et les indices des éléments qui sont supérieurs 
# à « la moyenne des valeurs + 1.96 l’écart type ».

t[t > (t.mean() + (1.96 * t.std()))]

array([2000, 1999])

In [541]:
# Remplacer toutes ces valeurs par la valeur maximale du tableau.
t[t > (t.mean() + (1.96 * t.std()))] = t.max()
t

array([[2000,    0,  100],
       [2000,  300,  200],
       [ 150,    0,  190],
       [ 500,  500,  500]])

In [542]:
# Chercher les valeurs et les indices des éléments qui sont inférieurs à 
# « la moyenne des valeurs - 1.96 l’é cart type »

t[t < (t.mean() - (1.96 * t.std()))]

array([], dtype=int64)

In [543]:
# Remplacer toutes ces valeurs par la valeur minimale du tableau
t[t < (t.mean() - (1.96 * t.std()))] = t.min()
t

array([[2000,    0,  100],
       [2000,  300,  200],
       [ 150,    0,  190],
       [ 500,  500,  500]])

In [553]:
# Compter le nombre d’éléments égaux au maximum et le nombre d’éléments égaux au minimum.
t[(t == t.max()) | (t == t.min())].size

4

In [549]:
np.count_nonzero((t == t.max()) | t == t.min())

2

## Exercice 6

* Ecrire un programme NumPy pour créer une matrice 3x3 avec des valeurs allant de 2 à 10
* Créer la matricer suivante sans saisir explicitement ses valeurs : --
* Diviser le tableau « s = np.arange(25).reshape(5,5)» afin de séparer chaque colonne à part.
* Créer la matrice suivante en concaté nant 3 tableaux unidimensionnel. Utiliser np.arange et np.ones pour la création des tableaux.

In [556]:
# Ecrire un programme NumPy pour créer une matrice 3x3 avec des valeurs allant de 2 à 10
m = np.arange(2, 11).reshape(3, 3)
m

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [561]:
# Créer la matricer suivante sans saisir explicitement ses valeurs :
np.arange(1, 16).reshape(3, 5).T

array([[ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14],
       [ 5, 10, 15]])

In [564]:
# Diviser le tableau « s = np.arange(25).reshape(5,5)» afin de séparer chaque colonne à part.
s = np.arange(25).reshape(5, 5)
s

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [571]:
s[:, 0:1]

array([[ 0],
       [ 5],
       [10],
       [15],
       [20]])

In [584]:
# Créer la matrice suivante en concaténant 3 tableaux unidimensionnel. 
# Utiliser np.arange et np.ones pour la création des tableaux.

a = np.ones(3).reshape(1, 3)
a

array([[1., 1., 1.]])

In [585]:
b = np.arange(7, 10).reshape(1, 3)
b

array([[7, 8, 9]])

In [589]:
c = np.array([12, 18, 2]).reshape(1, 3)
c

array([[12, 18,  2]])

In [592]:
np.concatenate((b, a, c), axis=0)

array([[ 7.,  8.,  9.],
       [ 1.,  1.,  1.],
       [12., 18.,  2.]])

## Exercice 7

* Ecrire un programme qui trouve les positions des éléments non nulls dans un tableau.
* Ecrire un programme qui teste si aucun des é lé ments d'un tableau donné n'est nul.
* Utiliser la fonction numpy « np.pad » pour ajouter une bordure (remplie de 0) autour d'un tableau existant.
* Utiliser la fonction « np.asarray » pour cré er un tableau à partir d’un tuple ou une liste.
* Tester la fonction « np.append » pour ajouter des é lé ments à la fin d’un tableau.
* Utiliser la fonction «np.in1d » pour tester si chaque é lé ment d'un tableau 1-D est également présent dans un second tableau.
* Utiliser la fonction « np.intersect1d» pour trouver des valeurs communes entre deux tableaux.
  
* Utiliser la fonction « np.tile » pour construire un tableau en ré pé tant les é lé ments d’un autre tableau.
* Utiliser la fonction « bincount » pour compter le nombre d’occurrences de chaque valeur d’un tableau de valeurs positives.

In [602]:
# Ecrire un programme qui trouve les positions des éléments non nulls dans un tableau.
t = np.arange(25, dtype=float).reshape(5, 5)
t

array([[ 0.,  1.,  2.,  3.,  4.],
       [ 5.,  6.,  7.,  8.,  9.],
       [10., 11., 12., 13., 14.],
       [15., 16., 17., 18., 19.],
       [20., 21., 22., 23., 24.]])

In [605]:
t[:, 2] = np.nan
t

array([[ 0.,  1., nan,  3.,  4.],
       [ 5.,  6., nan,  8.,  9.],
       [10., 11., nan, 13., 14.],
       [15., 16., nan, 18., 19.],
       [20., 21., nan, 23., 24.]])

In [607]:
np.isnan(t).sum()

5

In [608]:
# Ecrire un programme qui teste si aucun des éléments d'un tableau donné n'est nul.
np.isnan(t)

array([[False, False,  True, False, False],
       [False, False,  True, False, False],
       [False, False,  True, False, False],
       [False, False,  True, False, False],
       [False, False,  True, False, False]])

In [613]:
# Utiliser la fonction numpy « np.pad » pour ajouter 
# une bordure (remplie de 0) autour d'un tableau existant.
z = np.ones((4, 4))
z

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [628]:
z = np.pad(z, 1)
z

array([[0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [619]:
# Utiliser la fonction « np.asarray » pour cré er un tableau à partir d’un tuple ou une liste.
np.asarray((1, 2, 3))

array([1, 2, 3])

In [620]:
np.asarray([1, 2, 3])

array([1, 2, 3])

In [627]:
# Tester la fonction « np.append » pour ajouter des éléments à la fin d’un tableau.
np.append([1, 2, 3], [4, 5, 6])

array([1, 2, 3, 4, 5, 6])

In [631]:
# Utiliser la fonction «np.in1d » pour tester si chaque é lé ment d'un tableau 1-D est 
# également présent dans un second tableau.

mask = np.in1d(z, 1)
mask

array([False, False, False, False, False, False, False,  True,  True,
        True,  True, False, False,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False, False, False, False, False, False, False])

In [634]:
z.flatten()[mask]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [635]:
# Utiliser la fonction « np.intersect1d» pour trouver des valeurs communes 
# entre deux tableaux.
a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]

np.intersect1d(a, b)

array([4, 5])

In [637]:
# Utiliser la fonction « np.tile » pour construire un tableau 
# en répétant les éléments d’un autre tableau.
np.tile([[0, 1], [1, 0]], (3, 3))

array([[0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0]])

In [638]:
# Utiliser la fonction « bincount » pour compter le nombre d’occurrences 
# de chaque valeur d’un tableau de valeurs positives.
np.bincount([2, 5])

array([0, 0, 1, 0, 0, 1])

## Exercice 8